<header class="header-area header-padding-1 sticky-bar header-res-padding clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                <div class="logo">
                    <a href="{{ url_for('home_page') }}">
                        <img alt="" src="{{url_for('static',filename='img/logo/logo.png')}}">
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="{{ url_for('view_shops') }}">View Shops</i></a></li>
                            <li><a href="{{ url_for('viewshopscourse') }}">Courses <i class="fa fa-angle-down"></i></i></a>
                                <ul class="submenu">
                                    <li><a href="{{ url_for('view_shops') }}">View Courses Available</a></li>
                                    <li><a href="">My Courses</a></li>
                                </ul>
                            </li>

                            <li><a href="{{ url_for('contact', name='tailornow') }}">Help </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                   <div class="header-right-wrap">
                    <div class="same-style header-search">
                        <button type="button" onclick="clear_new()" class="search-active" style="border:none; background: none;">

                            <i class="fa fa-bell-o" style="font-size:20px"></i>
                            {% set my_noti, count = view_notification() %}
                            {% if (my_noti != "down") and (count > 0) %}
                                <span id="new_noti" style="position: absolute; top: -9px; right: -5px; background-color: #000; color: #fff; display: inline-block; width: 21px;height: 21px;border-radius: 100%;line-height: 21px;font-size: 12px; text-align: center;">{{ count }}</span>
                            {% endif %}

                        </button>
                        <div class="search-content">
                            {% if my_noti == "down" %}
                                Our database is currently down, please try again later
                            {% else %}
                                {% for key,values in my_noti.items() %}
                                    {% if loop.index <= 3 %}
                                        {% if values.get_status() == "new" %}
                                        <!--NEW NOTIFICATIONS-->
                                        <div {% if values.get_hyperlink()!="" %} onclick="location.href='{{ url_for(values.get_hyperlink()) }}';" {% endif %} style="background: #ebebeb; border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">

                                                <div style="position: relative; float: right;">
                                                    <a href="{{ url_for('update_notification', action='delete', id=key) }}"><i class="fa fa-times" title="Delete this notification"></i></a>
                                                </div>
                                                {{ values.get_message() }}
                                                <div style="font-size:10px">
                                                    {% if values.get_category() == "updates" %}<i class="fa fa-rss"></i>
                                                    {% elif values.get_category() == "purchase" %}<i class="pe-7s-shopbag"></i>
                                                    {% endif %}{{ values.get_time() }}
                                                </div>

                                        </div>
                                        {% else %}
                                        <div {% if values.get_hyperlink()!="" %} onclick="location.href='{{ url_for(values.get_hyperlink()) }}';" {% endif %} style="border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">
                                            <div style="position: relative; float: right;">
                                                <a href="{{ url_for('update_notification', action='delete', id=key) }}"><i class="fa fa-times" title="Delete this notification"></i></a>
                                            </div>
                                            {{ values.get_message() }}
                                            <div style="font-size:10px">
                                                {% if values.get_category() == "updates" %}<i class="fa fa-rss"></i>
                                                {% elif values.get_category() == "purchase" %}<i class="pe-7s-shopbag"></i>
                                                {% endif %}{{ values.get_time() }}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if my_noti|length > 3 %}
                            <center><a href="{{ url_for('all_notifications') }}">See All</a></center>
                            {% endif %}
                        </div>
                    </div>
                    <div class="same-style account-satting">
                        <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                        <div class="account-dropdown">
                            <ul>
                                 {% if 'customer_account' is not in session %}
                                <li><a href="/login_customers">Login</a></li>
                                {% endif %}
                                {% if 'customer_account' is not in session %}
                                <li><a href="/register_customers">Register</a></li>
                                {% endif %}
                                {% if 'customer_account' in session %}
                                <li><a href="wishlist.html">Wishlist  </a></li>
                                {% endif %}
                                {% if 'customer_account' in session %}
                                <li><a href="/customers_account">my account</a></li>
                                 {% endif %}
                                {% if 'customer_account' in session %}
                                <li><a href="/log_out_customers">Log Out</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="same-style header-wishlist">
                        <a href="{{ url_for('chat_page', chat='inbox', chatid=0) }}"><i class="pe-7s-chat"></i></a>
                    </div>
                    <div class="same-style cart-wrap">
                        <button class="icon-cart">
                            <i class="pe-7s-shopbag"></i>
                            <span class="count-style">02</span>
                        </button>
                        <div class="shopping-cart-content">
                            <ul>
                                <li class="single-shopping-cart">
                                    <div class="shopping-cart-img">
                                        <a href="#"><img alt="" src="assets/img/cart/cart-1.png"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#">T- Shart & Jeans </a></h4>
                                        <h6>Qty: 02</h6>
                                        <span>$260.00</span>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </li>
                                <li class="single-shopping-cart">
                                    <div class="shopping-cart-img">
                                        <a href="#"><img alt="" src="assets/img/cart/cart-2.png"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#">T- Shart & Jeans </a></h4>
                                        <h6>Qty: 02</h6>
                                        <span>$260.00</span>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="shopping-cart-total">
                                <h4>Shipping : <span>$20.00</span></h4>
                                <h4>Total : <span class="shop-total">$260.00</span></h4>
                            </div>
                            <div class="shopping-cart-btn btn-hover text-center">
                                <a class="default-btn" href="/my_cart">view cart</a>
                                <a class="default-btn" href="checkout.html">checkout</a>
                            </div>
                        </div>
                         {% if 'customer_account' in session %}
                    <p> {{  session.get('customer_identity') }} </p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <li><a href="{{ url_for('view_shops') }}">View Shops</a>
                            <ul>
                                <li><a href="{{ url_for('view_shops') }}">Tailor Shops</a></li>
                                <li><a href="{{ url_for('viewshopscourse') }}">Courses</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Manage</a>
                            <ul>
                                <li><a href="{{ url_for('add_product') }}">Add Product</a></li>
                                <li><a href="{{ url_for('catalogue') }}">Manage Products</a></li>
                                <li><a href="{{ url_for('advertise') }}">Advertise</a></li>
                                <li><a href="{{ url_for('manage_ads') }}">Manage Ads</a></li>
                                <li><a href="blog-details-2.html">blog details 2</a></li>
                                <li><a href="blog-details-3.html">blog details 3</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="{{ url_for('contact', name='tailornow') }}">Help </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script>
        var action = 0;

        function clear_new() {
            if ( action == 1 ) {
                action = 2;
                location.href = "{{ url_for('update_notification', action="readall", id=0) }}";
            } else {
                action = 1;
                document.getElementById("new_noti").style.display = 'none';
            }
        }
    </script>
</header>
