<!----------------------TAILORS NAVBAR---------------------->
<header class="header-area header-in-container clearfix">
    <div class="header-bottom sticky-bar header-res-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="/tailors_home">
                            <img alt="" src="{{url_for('static',filename='img/logo/logo.png')}}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li>
                                    Welcome to TailorNow! Please log in to access your shop.
                                </li>
                                {% if 'tailor_account' is in session %}
                                <li><a href="{{ url_for('viewcourse') }}">Courses <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="{{ url_for('viewcourse') }}">View Course offered by me</a></li>
                                        <li><a href="{{ url_for('CreateCourse') }}">Create Course</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('salesChart') }}"> Sales <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="{{ url_for('salesChart') }}">View Sales</a></li>
                                        <li><a href="{{ url_for('targetSales') }}">Change Target</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('vieworders') }}"> Orders <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="{{ url_for('vieworders') }}">View Orders</a></li>
                                        <li><a href="{{ url_for('custChart') }}">Customer Chart</a></li>
                                        <li><a href="{{ url_for('availability') }}">Change Availability</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('voucherList') }}"> Vouchers <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="{{ url_for('voucherList') }}">View Vouchers</a></li>
                                        <li><a href="{{ url_for('addVouchers') }}">Add Vouchers</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('advertise') }}">Advertise <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="{{ url_for('advertise') }}">Advertise</a></li>
                                        <li><a href="{{ url_for('manage_ads') }}">Manage Ads</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                       <div class="header-right-wrap">
                        <div class="same-style header-search">
                        <button type="button" onclick="clear_new()" class="search-active" style="border:none; background: none;">

                            <i class="fa fa-bell-o" style="font-size:20px"></i>
                            {% set my_noti, count = view_notification() %}
                            {% if (my_noti != "down") and (count > 0) %}
                                <span id="new_noti" style="position: absolute; top: -9px; right: -5px; background-color: #000; color: #fff; display: inline-block; width: 21px;height: 21px;border-radius: 100%;line-height: 21px;font-size: 12px; text-align: center;">{{ count }}</span>
                            {% endif %}

                        </button>
                        <div class="search-content">
                            {% if my_noti == "down" %}
                                Our database is currently down, please try again later
                            {% else %}
                                {% for key,values in my_noti.items() %}
                                    {% if loop.index <= 3 %}
                                        {% if values.get_status() == "new" %}
                                        <!--NEW NOTIFICATIONS-->
                                        <div {% if values.get_hyperlink()!="" %} onclick="location.href='{{ url_for(values.get_hyperlink()) }}';" {% endif %} style="background: #ebebeb; border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">

                                                <div style="position: relative; float: right;">
                                                    <a href="{{ url_for('update_notification', action='delete', id=key) }}"><i class="fa fa-times" title="Delete this notification"></i></a>
                                                </div>
                                                {{ values.get_message() }}
                                                <div style="font-size:10px">
                                                    {% if values.get_category() == "updates" %}<i class="fa fa-rss"></i>
                                                    {% elif values.get_category() == "purchase" %}<i class="pe-7s-shopbag"></i>
                                                    {% endif %}{{ values.get_time() }}
                                                </div>

                                        </div>
                                        {% else %}
                                        <div {% if values.get_hyperlink()!="" %} onclick="location.href='{{ url_for(values.get_hyperlink()) }}';" {% endif %} style="border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">
                                            <div style="position: relative; float: right;">
                                                <a href="{{ url_for('update_notification', action='delete', id=key) }}"><i class="fa fa-times" title="Delete this notification"></i></a>
                                            </div>
                                            {{ values.get_message() }}
                                            <div style="font-size:10px">
                                                {% if values.get_category() == "updates" %}<i class="fa fa-rss"></i>
                                                {% elif values.get_category() == "purchase" %}<i class="pe-7s-shopbag"></i>
                                                {% endif %}{{ values.get_time() }}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if my_noti|length > 3 %}
                            <center><a href="{{ url_for('update_notification', action='seeall', id=0) }}">See All</a></center>
                            {% endif %}
                        </div>
                        </div>
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                            <div class="account-dropdown">
                                <ul>
                                   {% if 'tailor_account' is not in session %}
                                    <li><a href="/login_tailors">Login</a></li>
                                    {% endif %}
                                    {% if 'tailor_account' is not in session %}
                                    <li><a href="/register_tailors">Register</a></li>
                                    {% endif %}
                                    {% if 'tailor_account' is in session %}
                                    <li><a href="wishlist.html">Wishlist  </a></li>
                                    {% endif %}
                                    {% if 'tailor_account' in session %}
                                    <li><a href="/tailors_account">My account</a></li>
                                    {% endif %}
                                    {% if 'tailor_account' in session %}
                                    <li><a href="/log_out_tailors">Log Out </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="same-style header-wishlist">
                            <a href="{{ url_for('chat_page', chat='inbox', chatid=0) }}"><i class="pe-7s-chat"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="shop.html">Collection</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">about us</a></li>
                                    <li><a href="cart-page.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout </a></li>
                                    <li><a href="wishlist.html">wishlist </a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                    <li><a href="login-register.html">login / register </a></li>
                                    <li><a href="contact.html">contact us </a></li>
                                    <li><a href="404.html">404 page </a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">blog standard</a></li>
                                    <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                    <li><a href="blog-details.html">blog details 1</a></li>
                                    <li><a href="blog-details-2.html">blog details 2</a></li>
                                    <li><a href="blog-details-3.html">blog details 3</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script>
        var action = 0;

        function clear_new() {
            if ( action == 1 ) {
                action = 2;
                location.href = "{{ url_for('update_notification', action="readall", id=0) }}";
            } else {
                action = 1;
                document.getElementById("new_noti").style.display = 'none';
            }
        }
    </script>
</header>



