{% extends "base.html" %}
{% block title %}Add Content{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Course Content</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-100 pb-100" >
    <div class="container" >

        <div class="custom-row-2" >

            <div class="col-lg-4 col-md-5" >
                <div class="contact-form" >
                    <div class="contact-title mb-30" style="width: 200px; float: left; ">
                        <h2>Course Content</h2>
                        <h4></h4>
                    </div>
                    <div class="row" style="width: 200px;">


                        <br>
                        <ol>
                            {% for content in contentList %}
                                {% if id == content.get_course() %}
                                    <li style="margin:1.5px;"><a href="#">{{content.get_topic()}}</a> &nbsp;&nbsp; <a href="{{url_for('DeleteContent', id=content.get_course(), topic=content.get_topic() )}}"> <i class="fa fa-times" style="color: red; margin-top: 4px; float: right;"></i></a></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>

                </div>
            </div>

            <div class="col-lg-7 col-md-7">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2>Add Content </h2>
                        <h4>Video</h4>
                    </div>

                    <form class="contact-form-style" action="{{ url_for('AddContent', id=id) }}" method="post" enctype="multipart/form-data">
                        <div class="row">

                            <div class="col-lg-12">
                                {{ render_field(form.topic, class="form-control") }}
                            </div>

                            <div class="col-lg-12">
                                {{ render_field(form.video, class="form-control") }}
                            </div>

                            <div class="button-box">
                                <!-- <button class="submit" type="submit">Save</button> -->
                                <button type="submit">Add Topic</button> <!--class="submit"-->
                            </div>
                        </div>
                    </form>









                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}