{% extends "base.html" %}
{% block title %}TailorNow{% endblock %}

{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Advertise with us</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-100 pb-100">
    <div class="container">
        <div class="custom-row-2">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info-wrap">
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>+012 345 678 102</p>
                            <p>+012 345 678 102</p>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p><a href="#">urname@email.com</a></p>
                            <p><a href="#">urwebsitenaem.com</a></p>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>Address goes here, </p>
                            <p>street, Crossroad 123.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2>Advertise with us, at only a small fees</h2>
                    </div>
                    <form class="contact-form-style" id="contact-form" action="assets/php/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="startdate">Start Date:*</label>
                                <input type="date" id="startdate" name="startdate">
                            </div>
                            <div class="col-lg-6">
                                <label for="enddate">End Date:*</label>
                                <input type="date" id="enddate" name="enddate">
                            </div>
                            <div class="col-lg-12">
                                <label for="image">Image:*</label>
                                <input name="image" id="image"  type="text">
                            </div>
                            <div class="col-lg-12">
                                Cost:
                                <button class="submit" type="submit" style="float: right;">Check Out</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script type="text/javascript">
    var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("startdate")[0].setAttribute('min', today);
    document.getElementsByName("enddate")[0].setAttribute('min', today);
    document.getElementById("startdate").value = today;
    document.getElementById("enddate").value = today;
</script>
{% endblock %}
{% endblock %}