{% extends "base.html" %}
{% block title %}Manage Products{% endblock %}

{% block content %}
<div class="cart-main-area pt-90 pb-100">
        <h3 class="cart-page-title">Your store items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Reviews</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in catalogue_list %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="{{ url_for('static',filename='uploads/shops/'+username+'/'+product.get_image()) }}"><img src="{{ url_for('static',filename='uploads/shops/'+username+'/'+product.get_image()) }}" alt="{{ product.get_image() }}" width="230" height="121"></a>
                                    </td>
                                    <td class="product-name"><a href="#">{{ product.get_name() }}</a></td>
                                    <td class="product-price-cart"><span class="amount">${{ product.get_price() }}</span></td>
                                    <td class="product-quantity">
                                        {{ product.get_description() }}
                                    </td>
                                    <td class="product-subtotal">{{ product.get_reviews()*5 }} stars</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <form action="{{url_for('delete_product', id=product.get_id(), name='Ah Tiong')}}" method="POST" style="display: inline-block;">
                                        <button type="button" style="border:none; background: none; display: inline-block;" data-toggle="modal" data-target="#myModal_{{product.get_id()}}"><i class="fa fa-times"></i></button>
                                        <!-- The Modal -->
                                        <div class="modal" id="myModal_{{product.get_id()}}">
                                          <div class="modal-dialog">
                                            <div class="modal-content">

                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>

                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Are you sure you want to delete {{product.get_name()}}?
                                              </div>

                                              <!-- Modal footer -->
                                              <div class="modal-footer">
                                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                  <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                    </form>
                                   </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="#">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <button>Update Shopping Cart</button>
                                    <a href="addproduct">Add Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>

{% endblock %}