{% extends "base_chat.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style type="text/css">
  @import url("{{url_for('static',filename='/css/chat.css')}}");
</style>

{% if chatid in user_chat %}
<!--<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">-->
<!--    <div class="container">-->
<!--        <div class="breadcrumb-content text-center">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <a href="index.html">Home</a>-->
<!--                </li>-->
<!--                <li class="active">Advertise with us</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

  {% if user_chat|length > 0 %}
  <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <a href="{{ url_for('chat_page', chat='inbox', chatid=0) }}"><h4>Recent</h4></a> | <a href="{{ url_for('chat_page', chat='archive', chatid=0) }}"><h4>Archives</h4></a>
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Search" >
                  <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
              </div>
            </div>
            <div class="inbox_chat">
              {% for msg in user_chat %}
                {% if chatid == user_chat[msg].get_id() %}
                <div class="chat_list active_chat">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>{% if username ==  user_chat[msg].get_recipient() %}{{ user_chat[msg].get_sender() }}{% else %}{{ user_chat[msg].get_recipient() }}{% endif %} <span class="chat_date">{{ user_chat[msg].get_messages()[-1].get_timestamp() }}</span></h5>
                      <p>
                        {% if user_chat[msg].get_messages()[-1].get_message() |length > 70 %}
                          {{ user_chat[msg].get_messages()[-1].get_message()[0:70] }}...
                        {% else %}
                          {{ user_chat[msg].get_messages()[-1].get_message() }}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
                {% else %}
                <a href="{{url_for('chat_page', chat=chat, chatid=user_chat[msg].get_id())}}">
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>{% if username ==  user_chat[msg].get_recipient() %}{{ user_chat[msg].get_sender() }}{% else %}{{ user_chat[msg].get_recipient() }}{% endif %} <span class="chat_date">{{ user_chat[msg].get_messages()[-1].get_timestamp() }}</span></h5>
                      <p>
                        {% if user_chat[msg].get_messages()[-1].get_message() |length > 70 %}
                          {{ user_chat[msg].get_messages()[-1].get_message()[0:70] }}...
                        {% else %}
                          {{ user_chat[msg].get_messages()[-1].get_message() }}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
                </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="mesgs">
            <div class="heading_msg">
              {{ user_chat[chatid].get_recipient() }}
              {% if username == user_chat[chatid].get_recipient() %}
                {% if user_chat[chatid].get_recipient_status() != "Resolved" %}
                  <a href="/chat/resolved/{{ chatid }}" title="Mark as resolved"><i class="fa fa-check"></i> Mark as Resolved</a>
                {% endif %}
              {% endif %}

              {% if (user_chat[chatid].get_sender() == username) and (user_chat[chatid].get_sender_status() != "Archive") %}
              <a href="/chat/archive/{{ chatid }}" title="Mark as archive" style="float: right;"><i class="fa fa-archive"></i> Archive</a>
              {% elif (user_chat[chatid].get_recipient() == username) and (user_chat[chatid].get_recipient_status() != "Archive") %}
              <a href="/chat/archive/{{ chatid }}" title="Mark as archive" style="float: right;"><i class="fa fa-archive"></i> Archive</a>
              {% endif %}


              <form action="{{url_for('update_chatstatus', action='delete', id=chatid)}}" method="POST" style="display: inline-block; float: right;">
                  <button type="button" style="border:none; background: none; display: inline-block;" data-toggle="modal" data-target="#myModal_{{chatid}}"><i class="fa fa-trash-o" style="font-size: 18px;" title="Delete this chat"></i></button>
                  <!-- The Modal -->
                  <div class="modal" id="myModal_{{chatid}}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Confirmation</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          Are you sure you want to delete the chat with {% if username ==  user_chat[chatid].get_recipient() %}{{ user_chat[chatid].get_sender() }}{% else %}{{ user_chat[chatid].get_recipient() }}{% endif %}? {% if username == "Admin" %}This process is inevitable.{% endif %}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                        </div>

                      </div>
                    </div>
                  </div>
              </form>


            </div>

            <div class="msg_history">
              <br>
              {% for msg in user_chat[chatid].get_messages() %}
                {% if msg.get_sent_by() == username %}
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ msg.get_message() }}</p>
                    <span class="time_date"> {{ msg.get_timestamp() }}    |    me</span> </div>
                </div>
                {% else %}
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ msg.get_message() }}</p>
                      <span class="time_date"> {{ msg.get_timestamp() }}    |    {{ msg.get_sent_by() }}</span></div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}

            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <form class="contact-form-style" action="" method="post" name="send_msgform">
                  {{ render_field(form.message, class="write_msg", placeholder="Type a message", autocomplete="off") }}
                  <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div></div>
  {% else %}
  <br>
  <div class="col-lg-12">We could not find any chat tagged to your account. To start a support enquiry, please click on the respective stores and click chat.</div>
  <br>
  {% endif %}
{% else %}
<!-- If chatid does not match with any dictionary keys, show only the side header. -->
<div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                {% if chat=="inbox" %}
                <a href="{{ url_for('chat_page', chat='inbox', chatid=0) }}"><u><h4>Recent</h4></u></a> | <a href="{{ url_for('chat_page', chat='archive', chatid=0) }}"><h4>Archives</h4></a>
                {% else %}
                <a href="{{ url_for('chat_page', chat='inbox', chatid=0) }}"><h4>Recent</h4></a> | <a href="{{ url_for('chat_page', chat='archive', chatid=0) }}"><u><h4>Archives</h4></u></a>
                {% endif %}
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Search" >
                  <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
              </div>
            </div>
            <div class="inbox_chat">
              {% for msg in user_chat %}
              <a href="{{url_for('chat_page', chat=chat, chatid=user_chat[msg].get_id())}}">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>{% if username ==  user_chat[msg].get_recipient() %}{{ user_chat[msg].get_sender() }}{% else %}{{ user_chat[msg].get_recipient() }}{% endif %} <span class="chat_date">{{ user_chat[msg].get_messages()[-1].get_timestamp() }}</span></h5>
                    <p>
                      {% if user_chat[msg].get_messages()[-1].get_message() |length > 70 %}
                        {{ user_chat[msg].get_messages()[-1].get_message()[0:70] }}...
                      {% else %}
                        {{ user_chat[msg].get_messages()[-1].get_message() }}
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
              </a>
              {% endfor %}
            </div>
          </div>

      </div></div>

{% endif %}

<script>
  window.onload = function() {
    $('label[for=message]').remove();
    $(".msg_history").stop().animate({ scrollTop: $(".msg_history")[0].scrollHeight}, 500);
  }

  if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
  }
</script>

{% endblock %}
