{% extends "base.html" %}
{% block title %}Course Checkout{% endblock %}

{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Course Checkout </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div>
                    <h3>Course Payment</h3>
                    <br>
                    <div class="col-lg-12 col-md-12">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Tailor</th>
                                    <th>Price</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courseCart %}
                                <tr>
                                    <td class="product-name"><a href="#">  {{ courseCart[course].get_title() }} </a></td>
                                    <td class="product-name"><a href="#">  {{ courseCart[course].get_tailor() }} </a></td>
                                    <td class="product-price-cart"><span class="amount">{{ courseCart[course].get_price() }}</span></td>

                                    <td class="product-remove">
                                        <a href="{{ url_for('deletecoursecart', id=courseCart[course].get_courseid() ) }}" ><i class="fa fa-times"></i></a>
                                   </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-clear">
                                    {% for course in courseCart %}
                                    <a href="{{ url_for('deletecoursecart', id=courseCart[course].get_courseid() ) }}" >Clear Shopping Cart</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                        <br><br>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <h4>Have any discount codes? Enter it here!</h4>
                                <p>* discount codes can be earned by making orders with tailors!</p>
                                <input type="text">
                            </div>
                        </div> -->

                </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>Your order</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>Product</li>
                                    <li>Total</li>
                                </ul>
                            </div>

                            <div class="your-order-middle">
                                <ul>
                                    {% for course in courseCart %}
                                    <li><span class="order-middle-left">{{ courseCart[course].get_title() }}</span> <span class="order-price"> $ {{ courseCart[course].get_price() }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- <div class="your-order-bottom">
                                <ul>
                                    <li class="your-order-shipping">Discount</li>
                                    <li>0</li>
                                </ul>
                            </div> -->
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li>

                                        ${{ total }} <!--


                                        {% for course in courseCart %}
                                        {% set course1 = courseCart[course].get_price() %}
                                          {{ course1 }}
                                          {% set course1 =  course1 + courseCart[course].get_price() %}
                                          {{ course1 }}
                                        {% endfor %} -->

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion element-mrg">

                            </div>
                        </div>
                    </div>
                    <div class="Place-order mt-25">
                       <div id="smart-button-container">
                          <div style="text-align: center;">
                            <div id="paypal-button-container" ></div>
                          </div>
                        </div>
                          <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
                          <script>
                            function initPayPalButton() {
                              paypal.Buttons({
                                style: {
                                  shape: 'rect',
                                  color: 'gold',
                                  layout: 'vertical',
                                  label: 'checkout',

                                },

                               createOrder: function(data, actions) {
                                  return actions.order.create({
                                    purchase_units: [{"amount":{"currency_code":"USD","value":1}}]
                                  });
                                },



                                onApprove: function(data, actions) {
                                  return actions.order.capture().then(function(details) {
                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                    location.replace("{{ url_for('coursetransactionsuccess' ) }}")
                                  });
                                },

                                onError: function(err) {
                                  console.log(err);
                                }
                              }).render('#paypal-button-container');
                            }
                            initPayPalButton();


                          </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
