{% extends "base_tailors.html" %}
{% block title %}Create Course{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% if 'course_created' in session %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('course_created', None) }} is created.
</div>


{% elif 'course_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('course_updated', None) }} course is updated.
</div>

{% endif %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Create Course</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-100 pb-100">
    <div class="container">
        <div class="custom-row-2">


            <div class="col-lg-7 col-md-7">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2> </h2>
                        <h4>Course Details</h4>
                        <p>Adding Course Content only available after creating course.</p>
                    </div>
                    <form class="contact-form-style"  action="#" method="post" enctype="multipart/form-data">
                        <div class="row">

                            <div class="col-lg-12">
                                {{ render_field(form.title, class="form-control") }}
                            </div>

                            <div class="col-lg-12">
                                {{ render_field(form.tailor, class="form-control") }}
                            </div>

                            <div class="col-lg-12">
                                {{ render_field(form.material, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.language, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.livecourse, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.note, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.price, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.tbnail, class="form-control") }}
                            </div>



                            <div class="button-box">
                                <!-- <button class="submit" type="submit">Save</button> -->
                                <button type="submit">Create Course</button> <!--class="submit"-->
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}