{% extends "base_tailors.html" %}
{% block title %}Chart{% endblock %}

{% block content %}
<div class="login-register-area pt-80 pb-10">
    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
            <div class="login-register-tab-list nav">
                <h3 style="font-weight: bold"> Customers </h3>
            </div>
        </div>
    </div>
</div>
<div class="cart-main-area pt-10 pb-100">
    <div class="container" style="position: relative; height:80vh; width:70vw">
        <canvas id="myChart"></canvas>
    </div>
    <div class="cart-main-area pt-10 pb-100">
    <div class="container" style="width: 50%;">
        <div class="login-register-wrapper">
            <div id="lg2" class="tab-pane">
                <div class="login-form-container">
                    <div class="login-register-form">
                        <form action="{{ url_for('availability') }}" method="post">
                             {% for avail in avail_list %}
                            <h4 style="font-weight: bold; text-align: center">Availability:<br></h4>
                            <div style="text-align: center"> Start Time:  {{ avail.get_availstart() }}<br> End Time: {{ avail.get_availend() }}<br> </div>
                             {% endfor %}
                            <div class="button-box" style="text-align: center">
                                <br>
                                <a href="{{ url_for('availability') }}" type="button" class="btn btn-outline-info" style="font-size: 14px; font-weight: 420; padding-top: 8px; padding-bottom: 8px;padding-left: 28px; padding-right: 28px">CHANGE AVAILABILITY</a>
                                <!--<button type="submit" style="position: absolute; left: 50%; -ms-transform: translate(-50%, -50%);
                                                                         transform: translate(-50%, -50%);"><span>Change Availability</span></button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: window.location.href,
        headers: {
            "Pragma": "no-cache",
            "Expires": -1,
            "Cache-Control": "no-cache"
        }
    }).done(function () {
        window.location.reload(true);
    });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labels|tojson}},
        datasets: [{
            label: 'Amount of customers',
            data: [25, 20, 18, 24],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{% endblock %}
