{% extends "base.html" %}
{% block title %}Learn Tailoring with Us{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Education Platform</li>
            </ul>
        </div>
    </div>
</div>

<div class="Blog-area pt-100 pb-100">
    <div class="container">
        <div>
            <h3>Ongoing Courses:</h3>

            <div style="margin-bottom: 40px;">
            {% if count == 0 %}
            <p>You have no ongoing courses.</p>
            {% elif count == 1 %}
            <p>You have 1 ongoing course.</p>
            {% else %}
            <p>You have  {{ count }} ongoing courses.</p>
            {% endif %}
        </div>
            <div class="row" >

                {% for key,value in customer_courses.items() %}
                <div class="col-lg-4 col-md-6 col-sm-12">  <!-- lg-6 width of box? -->
                    <div class="blog-wrap-2 mb-40"> <!-- mb=space bw 1st and 2nd row-->

                        <div class="blog-img-2">
                            <img src="{{ courseDict[value.get_courseid()].get_tbnail() }}" style="height:120px; width: 100%;">
                        </div>
                        <div class="blog-content-2">

                            <a href="{{url_for('EdPlatCourseContent', id=value.get_courseid(), topic='000_random')}} "><h4>{{ courseDict[value.get_courseid()].get_title() }}</h4></a>
                            <div class="blog-meta-2">
                                By {{ courseDict[value.get_courseid()].get_tailor() }}
                            </div>

                            <br>
                            <div style="width: 100%; max-height: 50px; overflow:hidden; text-overflow:ellipsis;">
                            <p>{{ courseDict[value.get_courseid()].get_note() }}</p>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <h3>You may also like these courses:</h3>

            <a style="font-size: 16px;" href="/ViewShopsCourse">View All Available Courses</a>

            <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                <!-- Start of Product List -->
                                 {% for key, value in courseDict.items() %}
                                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="{{ url_for('indivCourse', id=key) }}">
                                                <img src="{{ value.get_tbnail() }}">
                                            </a>

                                            <div class="product-action">
                                                <div class="pro-same-action pro-quickview" style="width:100%;">
                                                    <a title="Shop here" href="{{ url_for('viewstore', name=key) }}"><i class="fa fa-eye"></i> Shop here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="{{ url_for('indivCourse', id=key) }}">{{ value.get_title() }}</a></h3>
                                            <div class="product-rating">

                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% if error %}
                                    {{ error }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

            </div>
        </div>

    </div>
</div>

<div class="pro-pagination-style text-center mt-20">
    <ul>
        <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a class="next" href="#"><i class="f
{% endblock %}