{% extends "base.html" %}
{% block title %}{{ title }} Error{% endblock %}

{% block content %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{{ title }} Error</li>
            </ul>
        </div>
    </div>
</div><div class="error-area pt-40 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="error">
                    <h2>{{ title }} Error</h2>
                    <p>{{ message }}</p>
                    <input type="button" value="Go back to the previous page" onclick="history.back(-1)" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
