{% extends "base.html" %}
{% block title %} Registration Complete! {% endblock %}

{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Sign Up Completion</li>
            </ul>
        </div>
    </div>
</div>
<div class="error-area pt-40 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="error">
                    <h1 style="font-size:75px">Thank You for Signing Up With Us!</h1>
                    <h2>Enjoy shopping at TailorNow!</h2>
                    <p>Please check your email or message within 1 - 2 weeks for additional details. Have a nice day! </p>
                        <a href="{{ url_for( 'home_page') }}" class="error-btn" >Back to home page</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

