{% extends "base_tailors.html" %}
{% block title %} Update Tailors Details Admin {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Update Tailors Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <h3>Riders Details</h3>
                    <form method="POST" action="" >
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                        {{ render_field(form.firstname, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                        {{ render_field(form.lastname, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                            {{ render_field(form.user_name, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-select mb-20">
                                <div class="form-group">
                            {{ render_field(form.store_name, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                            {{ render_field(form.address1, class="form-control") }}
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                            {{ render_field(form.address2, class="form-control") }}
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                            {{ render_field(form.city, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                            {{ render_field(form.postal_code, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                 <div class="form-group">
                            {{ render_field(form.email, class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-20">
                                <div class="form-group">
                            {{ render_field(form.phone_number, class="form-control") }}
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="checkout-account-toggle open-toggle2 mb-30">
                    <button class="btn-hover checkout-btn" type="submit" value="submit">Update</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
