{% extends "base.html" %}
{% block title %}Update Product {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2>Add Product/Service</h2>
                    </div>
                    <form class="contact-form-style" action="" method="post" enctype=multipart/form-data>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ render_field(form.name, class="form-control") }}
                            </div>
                            <div class="col-lg-3">
                                {{ render_field(form.price, class="form-control") }}
                            </div>
                            <div class="col-lg-3">
                                {{ render_field(form.discount, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.image, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.description, class="form-control") }}
                            </div>
                            <div class="col-lg-8">
                                {% if error %}
                                    <div class="text-danger">Error: {{ error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-4">
                                <button class="submit" type="submit" style="float: right;">Update Product</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
<br>

{% endblock %}