{% extends "base_tailors.html" %}
{% block title %}Update Advertisement{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

    <div class="container">
        <div class="custom-row-2">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info-wrap">
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>+012 345 678 102</p>
                            <p>+012 345 678 102</p>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p><a href="#">urname@email.com</a></p>
                            <p><a href="#">urwebsitenaem.com</a></p>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>Address goes here, </p>
                            <p>street, Crossroad 123.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2>Advertise with us, at only a small fees</h2>
                    </div>
                    <form class="contact-form-style" action="" method="post" enctype=multipart/form-data>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ render_field(form.startdate, class="form-control", onchange="updateCost()") }}
                            </div>
                            <div class="col-lg-6">
                                {{ render_field(form.enddate, class="form-control", onchange="updateCost()") }}
                            </div>
                            <div class="col-lg-6">
                                {% if username == "Admin" %}
                                    <label for="status">Status</label>
                                    {{ render_field(form.status, class="form-control") }}
                                    <br>
                                {% else %}
                                    {{ render_field(form.status, class="form-control", style="display:none;") }}
                                {% endif %}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.image, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.adtext, class="form-control") }}
                            </div>
                            <div class="col-lg-9">
                                {% if error %}
                                    <div class="text-danger">Error: {{ error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-3">
                                Cost: $<p id="cost" style="display:inline">0</p>
                            </div>
                            <div class="col-lg-12">
                                <button class="submit" type="submit" style="float: right;">Update Ad</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
<br>

<script>
function updateCost() {
  var startdate = document.getElementById("startdate").value;
  var enddate = document.getElementById("enddate").value;

  startdate = new Date(startdate.split('-')[2],startdate.split('-')[1]-1,startdate.split('-')[0]);
  enddate = new Date(enddate.split('-')[2],enddate.split('-')[1]-1,enddate.split('-')[0]);
  var timeDiff = Math.abs(enddate.getTime() - startdate.getTime());
  var cost = (Math.ceil(timeDiff / (1000*60*60*24*365)) + 1) * 25;
  document.getElementById("cost").innerHTML = cost;//{{ cost }}
}
</script>

{% endblock %}