{% extends "base_tailors.html" %}
{% block title %}Update Product{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2>Add Product/Service</h2>
                    </div>
                    *Required fields.
                    <form class="contact-form-style" action="" method="post" enctype=multipart/form-data>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ render_field(form.name, class="form-control") }}
                            </div>
                            <div class="col-lg-3">
                                {{ render_field(form.price, class="form-control") }}
                            </div>
                            <div class="col-lg-3">
                                {{ render_field(form.discount, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.image, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.description, class="form-control") }}
                                <br>
                            </div>
                            <div class="col-lg-12" style="border-top: 2px solid black;">
                                <b>Customisable Questions (Optional):</b>
                                If you have additional questions you would like to check with your customers before their purchase, for example: Length to be altered in CM, you may fill up the following questions field. You do not need to use up all 3 questions.
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.q1, class="form-control") }}
                            </div>
                            <div class="col-lg-12">
                                {{ render_field(form.q1category, class="category-select-list") }}
                            </div>
                            <div class="col-lg-12" id="newFields">
                                <button type="button" id="addNewField">Add Choice</button>
                                <button type="button" id="removeLastField">Remove Last Choice</button>
                                {{ form.flist1 }}
                            </div>
                            <div class="col-lg-12">
                                {% if error %}
                                    <div class="text-danger">Error: {{ error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-12">
                                <button class="submit" type="submit" style="float: right;">Update Product</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
<br>

<script>
    window.onload = function() {
        var fieldNum = 1;
        var newInput = $("<input></input>")
                .attr("class", "form-control")
                .attr("id", "flist1-" + fieldNum)
                .attr("name", "flist1-" + fieldNum)
                $("#newFields").append(newInput);
                fieldNum++;
        $("#addNewField").click(function() {
            if (fieldNum <10) {
                var newInput = $("<input></input>")
                .attr("class", "form-control")
                .attr("id", "flist1-" + fieldNum)
                .attr("name", "flist1-" + fieldNum)
                $("#newFields").append(newInput);
                fieldNum++;
            }
            else {
                alert("You cannot add more than 10 choices.");
            }
        });
        $("#removeLastField").click(function() {
            $('#newFields input:text:last').remove();
            fieldNum--;
        });
    }
</script>

{% endblock %}