{% extends "base.html" %}
{% block title %}{{ prod.get_name() }} - {{ name }}{% endblock %}

{% block content %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">

        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('view_shops') }}">View Shop</a>
                </li>
                <li>
                    <a href="{{ url_for('viewstore', name=name) }}">{{ name }}</a>
                </li>
                <li class="active">{{ prod.get_name() }} </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <a href="{{ url_for('contact', name=name) }}"><i class="pe-7s-chat"></i> Seek assistance from {{ name }}</a>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details dec-img-wrap">
                    <img src="{{ url_for('static',filename='uploads/shops/'+ name +'/'+ prod.get_image()) }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2>{{ prod.get_name() }}</h2>
                    <div class="product-details-price">
                        {% if prod.get_discount() > 0 %}
                            <span>$ {{ '%0.2f'|format(prod.get_price()|float * ((100 - prod.get_discount())/100)) }}</span>
                            <span class="old">$ {{ prod.get_price() }}</span>
                        {% else %}
                            <span>$ {{ prod.get_price() }}</span>
                        {% endif %}
                    </div>
                    <div class="pro-details-rating-wrap">
                        {% set count = namespace(value=0) %}
                        {% set total_stars = namespace(value=0) %}
                        {% for i in review_dict %}
                            {% if review_dict[i].get_storename() == name and review_dict[i].get_productid() == prod.get_id() %}
                                {% set count.value = count.value + 1 %}
                                {% set total_stars.value = total_stars.value + review_dict[i].get_stars() %}
                            {% endif %}
                        {% endfor %}
                        {% if total_stars.value > 0 %}
                            {% set temp_stars = (total_stars.value/count.value) %}
                            {{ (total_stars.value/count.value)|round(2) }} stars
                            {% set rounded_stars = (total_stars.value/count.value) | round | int %}
                            {% for star in range(rounded_stars) %}
                                &nbsp;<span class="fa fa-star" style="color: orange;"></span>
                            {% endfor %}
                             {% set leftover_stars = 5 - rounded_stars %}
                            {% for star in range(leftover_stars) %}
                                &nbsp;<span class="fa fa-star"></span>
                            {% endfor %}
                        {% else %}
                            No reviews yet.
                        {% endif %}
                    </div>
                    <div class="pro-details-list">
                        {{ prod.get_description() }}
                    </div>

                    <form class="contact-form-style" id="my_form" action="" method="post">
                        <div class="pro-details-size-color">
                            <div class="pro-details-color-wrap">
                                {% if prod.get_custom() != "" %}
                                <span>{{ prod.get_custom().get_question() }}</span>
                                    {% if prod.get_custom().get_category() != "textbox" %}
                                    <div class="pro-details-color-content">
                                        <select id="custom" name="custom" required>
                                          <option value=""></option>
                                          {% for item in prod.get_custom().get_choices() %}
                                          <option value="{{ item }}">{{ item }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                    {% else %}
                                    <input type="text" id="custom" name="custom" required>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                        <div class="pro-details-quality">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="text" name="qty" value="1" required>
                            </div>
                            <div class="pro-details-cart btn-hover">
                                <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Add To Cart</a>
                            </div>
                        </div>
                    </form>
                    <div class="pro-details-meta">
                        <span></span>

                    </div>
                    <div class="pro-details-social">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a class="active" data-toggle="tab" href="#des-details3">Reviews</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p></p>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane ">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Languages Available</span></li>
                            <li><span>Day of Live Course</span></li>
                            <li><span>Materials</span> </li>
                        </ul>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-8" style="margin: 0 auto;">
                            <div class="review-wrapper">
                                <a href="{{ url_for('review', shop=name, itemid=productid) }}">Click here to leave a review</a>
                                <br><br>
                                {% for review in review_dict %}
                                {% if review_dict[review].get_storename() == name and review_dict[review].get_productid() == prod.get_id() %}
                                <div class="single-review">
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>{{ review_dict[review].get_username() }}</h4>
                                                </div>
                                                <div class="review-rating">
                                                    {% for star in range(review_dict[review].get_stars()) %}
                                                        <span class="fa fa-star" style="color: orange;"></span>
                                                    {% endfor %}
                                                    {% set temp_count = 5 - review_dict[review].get_stars() %}
                                                    {% for star in range(temp_count) %}
                                                        <span class="fa fa-star"></span>
                                                    {% endfor %}
                                                </div>
                                                {% if (session['customer_identity'] == "Admin") or (session['customer_identity'] == review_dict[review].get_username()) %}
                                                <a href="{{ url_for('updateReview', shop=name, productid=productid, id=review_dict[review].get_id()) }}"><i class="fa fa-pencil" title="Update this Review"></i></a>
                                                {% endif %}
                                            </div>
                                            <div class="review-left">
                                                {% if (session['customer_identity'] == "Admin") or (session['customer_identity'] == review_dict[review].get_username()) %}
                                                <a href="{{ url_for('deleteReview', shop=name, productid=productid, id=review_dict[review].get_id()) }}"><i class="fa fa-times" title="Delete this Review"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>{{review_dict[review].get_review()}}</p>
                                            {% if review_dict[review].get_photo() != "" %}
                                            <a href="{{ url_for('static',filename='uploads/reviews/'+ review_dict[review].get_photo()) }}"><img src="{{ url_for('static',filename='uploads/reviews/'+ review_dict[review].get_photo()) }}" width="auto" height="120"></a>
                                            {% endif %}
                                        </div>
                                        <div class="review-bottom" style="font-size:10px">
                                            {{ review_dict[review].get_timestamp() }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/product/quickview-l1.jpg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l3.jpg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="assets/img/product/quickview-l2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-1" role="tablist">
                                <a class="active" data-toggle="tab" href="#pro-1"><img src="assets/img/product/quickview-s1.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-2"><img src="assets/img/product/quickview-s2.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-3"><img src="assets/img/product/quickview-s3.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-4"><img src="assets/img/product/quickview-s2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Products Name Here</h2>
                            <div class="product-details-price">
                                <span>$18.00 </span>
                                <span class="old">$20.00 </span>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="pro-details-rating">
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o yellow"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>3 Reviews</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                            <div class="pro-details-list">
                                <ul>
                                    <li>- 0.5 mm Dail</li>
                                    <li>- Inspired vector icons</li>
                                    <li>- Very modern style  </li>
                                </ul>
                            </div>
                            <div class="pro-details-size-color">
                                <div class="pro-details-color-wrap">
                                    <span>Color</span>
                                    <div class="pro-details-color-content">

                                    </div>
                                </div>
                                <div class="pro-details-size">
                                    <span>Size</span>
                                    <div class="pro-details-size-content">
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                </div>
                                <div class="pro-details-cart btn-hover">
                                    <a href="#">Add To Cart</a>
                                </div>
                                <div class="pro-details-wishlist">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="pro-details-compare">
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="pro-details-meta">
                                <span>Categories :</span>
                                <ul>
                                    <li><a href="#">Minimal,</a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-meta">
                                <span>Tag :</span>
                                <ul>
                                    <li><a href="#">Fashion, </a></li>
                                    <li><a href="#">Furniture,</a></li>
                                    <li><a href="#">Electronic</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<script>
    function scroll_to(div){
       if (div.scrollTop < div.scrollHeight - div.clientHeight)
            div.scrollTop += 10; // move down
    }
</script>

{% endblock %}
