{% extends "base.html" %}
{% block title %}View Shops{% endblock %}

{% block content %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{{ url_for('home_page') }}">Home</a>
                </li>
                <li class="active">View Shop</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-top-bar">
                    <div class="select-shoing-wrap">
                        <div class="shop-select">
                            <select>
                                <option value="">Sort by newness</option>
                                <option value="">A to Z</option>
                                <option value=""> Z to A</option>
                                <option value="">In stock</option>
                            </select>
                        </div>
                        <p>Showing 1–12 of 20 result</p>
                    </div>

                </div>
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                <!-- Start of Product List -->
                                {% for key, value in shop_dict.items() %}
                                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="{{ url_for('viewstore', name=key) }}">
                                                <img class="default-img" src="{{ url_for('static',filename='uploads/shops/' + key + '/' + key +'.jpg') }}" alt="">
                                                <!--  <img class="hover-img" src="{{url_for('static',filename='uploads/Ah Tiong Tailor1.jpg')}}" alt=""> -->
                                            </a>
                                            {% if value[1] > 0 %}
                                                <span class="pink">-{{ value[1] }}%</span>
                                            {% endif %}
                                            <div class="product-action">
                                                <div class="pro-same-action pro-quickview" style="width:100%;">
                                                    <a title="Shop here" href="{{ url_for('viewstore', name=key) }}"><i class="fa fa-eye"></i> Shop here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3><a href="{{ url_for('viewstore', name=key) }}">{{ key }}</a></h3>
                                            {% set count = namespace(value=0) %}
                                            {% set total_stars = namespace(value=0) %}
                                            {% for i in review_dict %}
                                                {% if review_dict[i].get_storename() == key %}
                                                    {% set count.value = count.value + 1 %}
                                                    {% set total_stars.value = total_stars.value + review_dict[i].get_stars() %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if total_stars.value > 0 %}
                                            {% set temp_stars = (total_stars.value/count.value) %}
                                                {{ (total_stars.value/count.value)|round(2) }} stars
                                                {% set rounded_stars = (total_stars.value/count.value) | round | int %}
                                                {% for star in range(rounded_stars) %}
                                                    <span class="fa fa-star" style="color: orange;"></span>
                                                {% endfor %}
                                                 {% set leftover_stars = 5 - rounded_stars %}
                                                {% for star in range(leftover_stars) %}
                                                    <span class="fa fa-star"></span>
                                                {% endfor %}

                                            {% else %}
                                                No reviews yet.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% if error %}
                                    {{ error }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="pro-pagination-style text-center mt-30">
                        <ul>
                            <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-style mr-30">
                   <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Search Stores</h4>
                        <div class="pro-sidebar-search mb-50 mt-25">
                            <form class="pro-sidebar-search-form" id="searchForm" name="searchForm" method="post">
                                <input type="text" name="search" placeholder="Store Name">
                                <button type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>

                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Refine By </h4>
                        <div class="sidebar-widget-list mt-30">
                            <ul>

                                <li>
                                    <div class="sidebar-widget-list-left">
                                        {% if 'sales' in session['checkboxList'] %}
                                        <input type="checkbox" value="sales" name="cbList" id="sales" method="post" onChange="this.form.submit()" checked> <label for="sales"><a>On Sales</a></label>
                                        {% else %}
                                        <input type="checkbox" value="sales" name="cbList" id="sales" method="post" onChange="this.form.submit()"> <label for="sales"><a>On Sales</a></label>
                                        {% endif %}
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        {% if 'altering' in session['checkboxList'] %}
                                        <input type="checkbox" value="altering" id="altering" name="cbList" onChange="this.form.submit()" checked><label for="altering"><a>Altering Services</a></label>
                                        {% else %}
                                        <input type="checkbox" value="altering" id="altering" name="cbList" onChange="this.form.submit()"><label for="altering"><a>Altering Services</a></label>
                                        {% endif %}
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        {% if 'tapering' in session['checkboxList'] %}
                                        <input type="checkbox" value="tapering" id="tapering" name="cbList" onChange="this.form.submit()" checked><label for="tapering"><a>Tapering Services</a></label>
                                        {% else %}
                                        <input type="checkbox" value="tapering" id="tapering" name="cbList" onChange="this.form.submit()"><label for="tapering"><a>Tapering Services</a></label>
                                        {% endif %}
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        {% if 'suits' in session['checkboxList'] %}
                                        <input type="checkbox" value="suits" id="suits" name="cbList" onChange="this.form.submit()" checked><label for="suits"><a>Customised Suits</a></label>
                                        {% else %}
                                        <input type="checkbox" value="suits" id="suits" name="cbList" onChange="this.form.submit()"><label for="suits"><a>Customised Suits</a></label>
                                        {% endif %}
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-45">
                        <h4 class="pro-sidebar-title">Filter By Price </h4>
                        <div class="price-filter mt-10">
                            <div class="price-slider-amount">
                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" style="pointer-events:none;"/>
                            </div>
                            <div id="slider-range"></div>
                            <a href="javascript:{}" onclick="document.getElementById('searchForm').submit();"><i class="fa fa-filter"></i> Filter Now</a>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock %}